/* Custom Properties */
:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-neutral-darkblue: hsl(234, 12%, 34%);
  --clr-neutral-grayblue: hsl(229, 6%, 66%);
  --clr-neutral-lightgray: hsl(0, 0%, 98%);

  --ff-poppins: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
}

/* Joshua Comeau's CSS Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* General Styling */
body {
  color: var(--clr-neutral-darkblue);
  background-color: var(--clr-neutral-lightgray);
  font-size: 0.938rem;
  font-family: var(--ff-poppins);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 15rem 2.5rem;
  gap: 1rem;
}

/* Header Styling */
header {
  text-align: center;
}

.header__span {
  font-weight: var(--fw-light);
  font-size: 1.5rem;
  line-height: 1;
}

.header__title {
  font-size: 1.5rem;
}

.header__body-text {
  color: var(--clr-neutral-grayblue);
  font-size: 0.9375rem;
  margin: 0.5rem auto 3rem;
}

/* Box Styling */
main {
  display: flex;
  flex-direction: column;
  max-width: 56.25rem;
  gap: 1.5rem;
}

/* Contents Styling */
section {
  background-color: white;
  box-shadow: -10px 10px 20px rgba(76, 78, 97, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border-top: 3px solid;
  overflow: hidden;
  padding: 2rem 1rem;
}

/* Cards Header Styling */
.cards__title {
  color: var(--clr-neutral-darkblue);
  font-size: 1.25rem;
}

/* Cards Paragraph Styling */
.cards__body-text {
  color: #a3a5ae;
  font-size: 0.75rem;
  line-height: 2;
  margin-bottom: 1.5rem;
}
/* Cards Icon Styling */
.cards__icon {
  align-self: flex-end;
  height: 3rem;
  width: 3rem;
}

/* Border Top Styling */
.cards__container--cyan {
  border-top-color: var(--clr-primary-cyan);
}

.cards__container--red {
  border-top-color: var(--clr-primary-red);
}

.cards__container--orange {
  border-top-color: var(--clr-primary-orange);
}

.cards__container--blue {
  border-top-color: var(--clr-primary-blue);
}

/* Footer Styling */
.attribution {
  font-size: 0.74rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop Responsiveness */

@media screen and (min-width: 56.25em) {
  body {
    margin: 0;
  }

  .header__span {
    font-size: 2rem;
  }
  
  .header__title {
    font-size: 2rem;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4, auto);
    }

  .cards__container--cyan {
      grid-area: 2 / 1 / 4 / 2;
    }

  .cards__container--red {
      grid-area: 1 / 2 / 3 / 3;
    }

  .cards__container--orange {
      grid-area: 3 / 2 / 5 / 3;
    }

  .cards__container--blue {
      grid-area: 2 / 3 / 4 / 4;
    }

  .attribution {
    font-size: 1rem;
  }
  }
  